---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-properties
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  structurizr.properties: |
{{ .Values.properties | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-users
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  structurizr.users: |
{{ .Values.users | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-roles
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  structurizr.roles: |
{{ .Values.roles | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-saml-idp-metadata
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  saml-idp-metadata.xml: |
{{ .Values.saml | indent 4 }}
{{- if .Values.ldap.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-ldap
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  ldap.xml: |
    <beans:beans
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
    ">
      <beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
      <beans:constructor-arg>
          <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
              <beans:constructor-arg ref="contextSource"/>
              <beans:property name="userSearch" ref="userSearch"/>
          </beans:bean>
      </beans:constructor-arg>
      <beans:constructor-arg>
          <beans:bean class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
              <beans:constructor-arg index="0" ref="contextSource"/>
              <beans:constructor-arg index="1" value="{{ .Values.ldap.userSearchBase }}"/>
              <beans:property name="groupSearchFilter" value="({{ .Values.ldap.groupSearchFilter }})"/>
              <beans:property name="ignorePartialResultException" value="true"/>
              <beans:property name="searchSubtree" value="true"/>
          </beans:bean>
      </beans:constructor-arg>
      </beans:bean>

      <beans:bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
          <beans:constructor-arg index="0" value="{{ .Values.ldap.userSearchBase }}"/>
          <beans:constructor-arg index="1" value="({{ .Values.ldap.userSearchFilter }})"/>
          <beans:constructor-arg index="2" ref="contextSource" />
      </beans:bean>

      <beans:bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
          <beans:constructor-arg value="{{ .Values.ldap.serverUrl }}"/>
          {{- if .Values.ldap.existingSecret }}
          <beans:property name="userDn" value="{{ .Values.ldap.existingSecret | printf \"$(kubectl get secret %s -o jsonpath='{.data.bindDn}' | base64 --decode)\" }}"/>
          <beans:property name="password" value="{{ .Values.ldap.existingSecret | printf \"$(kubectl get secret %s -o jsonpath='{.data.bindPassword}' | base64 --decode)\" }}"/>
          {{- else }}
          <beans:property name="userDn" value="{{ .Values.ldap.bindDn }}"/>
          <beans:property name="password" value="{{ .Values.ldap.bindPassword }}"/>
          {{- end }}
          </beans:bean>

      <authentication-manager>
          <authentication-provider ref="ldapAuthProvider" />
      </authentication-manager>
    </beans:beans>
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "structurizr.fullname" . }}-log4j2
  labels:
    {{- include "structurizr.labels" . | nindent 4 }}
data:
  log4j2.properties: |
{{ .Values.log4j2 | indent 4 }}
